{% extends 'home/home.html' %}
{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'matcher/candidateFinder.css' %}"> 


    <div class="continer">
        <h1> Find best ones for the Job </h1>
        <div class="Search">
            <form action="{% url 'app:CandidateFinder' %}" method="get">
                <select name="job">
                    {% for job in jobs %}
                        <option  value={{job.id}}>{{job}}</option >
                    {% endfor %}
                </select>
                <button type="submit">Search</button> 
            </form>
        </div>
        {% if candidates %}{% endif %}
            {% for candidat in candidates %}
                <div>
                    <p>ID : {{candidat.id}}</p>
                    <p>Title : {{candidat.title}}</p>
                    <ul> {% for skill in candidat.skill.all %}
                        <li> {{skill.name}}</li>
                    {% endfor %}    
                <ul>
                </div>
            {% endfor %}


    </div>




{% endblock body %}

