{% extends 'home/home.html' %}
{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'matcher/form.css' %}"> 


    <div class="container">
        
        <div class="form">
            <h1> Find best ones for the Job </h1>
            <form action="{% url 'app:CandidateFinder' %}" method="get">
                <select name="job">
                    {% for job in jobs %}
                        <option  value={{job.id}}>{{job}}</option >
                    {% endfor %}
                </select>
                <button type="submit">Search</button> 
            </form>
            <h1>Work details</h1>
            {% if job %}
            <div class='data'>
                <p><strong>ID -</strong> {{job.id}}</p> 
                <p><strong>Name -</strong>  {{job.title.name}} </p>
                <ul> {% for skill in job.skill.all %}
                    <li> {{skill.name}}</li>
                     {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div>
        <h1>Candidates<h1>
        <div class='box-data'>
            {% for candidate in candidates %}
                <div class='data'>
                    <p><strong>ID -</strong> {{candidate.id}}</p> 
                    <p><strong>Name -</strong>  {{candidate.title.name}} </p>
                    <ul> {% for skill in candidate.skill.all %}
                        <li> {{skill.name}}</li>
                    {% endfor %}    
                    <ul>
                </div >
            {% endfor %}
        </div>
    </div>

    </div>




{% endblock body %}

